.layout {
	height: 100%;
}

#layout .trigger {
	font-size: 18px;
	line-height: 52px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

#layout .trigger:hover {
	color: #1890ff;
}

#layout .logo {
	background: rgba(255, 255, 255, 0.2);
	text-align: center;
}

#layout .logo h3 {
	color: #ffffff;
}

.site-layout .site-layout-background {
	background: #fff;
}

.site-layout .header-settings {
	float: right;
	padding: 0 20px;
}
